* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
body {
    background-image: url("rv-2788677_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    color: white;
}
/*Menu Tabellerne*/
.tableMenu{
    margin-left: 350px;
    margin-top: 3px;
    background-color: white;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0 0 0 0.15);
}
.tableMenu thead tr{
    background-color: #009879;
    color: whitesmoke;
    text-align: left;
    font-weight: bold;
}
.tableMenu th,
.tableMenu td{
    padding: 12px 15px;
}
.tableMenu tr{
    border-bottom: 1px solid gray;
}
.tableMenu tr:nth-of-type(even){
    background-color: wheat;
}
.tableMenu tr:last-of-type{
    border-bottom: 2px solid #009879;
}
/*Create Tabellerne*/
.tableCreate{
    margin-left: 350px;
    margin-top: 3px;
    background-color: white;
    border-collapse: collapse;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0 0 0 0.15);
}
.tableCreate thead tr{
    background-color: #009879;
    color: whitesmoke;
    text-align: left;
    font-weight: bold;
}
.tableCreate th,
.tableCreate td{
    padding: 12px 15px;
}
.tableCreate tr:nth-of-type(even){
    background-color: wheat;
}
.tableCreate td{
    padding: 12px 15px;
}
/*View Tabellerne*/
.tableView{
    margin-left: 380px;
    margin-top: 20px;
    background-color: white;
    border-collapse: collapse;
    font-size: 20px;
    min-width: 700px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0 0 0 0.15);
}
.tableView thead tr{
    background-color: #009879;
    color: whitesmoke;
    text-align: left;
    font-weight: bold;
}
.tableView th,
.tableView td{
    padding: 12px 15px;
}
.tableView tr{
    border-bottom: 1px solid gray;
}
.tableView tr:nth-of-type(even){
    background-color: wheat;
}
.tableView tr:last-of-type{
    border-bottom: 2px solid #009879;
}
/*Knapperne*/
.addButtonPosition{
    margin-top: 30px;
    margin-left: 400px;
    max-width: 200px;
}
.addButton{
    background: #58c423;
    display: block;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 10px;
    color: white;

}
.normalButton{
    background: #2c6ed6;
    display: inline-flex;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;

}
.deleteButton{
    background: #d61916;
    display: inline-flex;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;

}
.tilføjKnapPosition{
    margin-top: 3px;
    margin-left: 800px;
    max-width: 200px;
}
/*Menu Headeren*/
.menu-bar {
    background: grey;
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: ghostwhite;
}
.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a {
    text-decoration: none;
    color: #fff;

}
.active, .menu-bar ul li:hover {
    background: greenyellow;
    border-radius: 3px;

}

/*Footer*/
.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: grey;
}
.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}
.inner_footer .logo_container{
    width: 20%;
    float: left;
    height: 100%;
    display: block;
}
.inner_footer .footer_third{
    width: 30%;
    margin-right: 10px;
    float: left;
    height: 150px;
}
.inner_footer .footer_third:last-child{
    margin-right: 0;
}
.inner_footer .footer_third h1{
    font-family: Arial;
    font-size: 18px;
    color: black;
    display: block;
    width: 100px;
    margin-bottom: 20px;
}
.inner_footer .footer_third a{
    font-family: Arial;
    font-size: 14px;
    color: black;
    display: block;
    width: 100%;
    padding-bottom: 10px;
}
.inner_footer .footer_third p{
    font-family: Arial;
    font-size: 14px;
    color: black;
    display: block;
    width: 100%;
    padding-bottom: 10px;
}
.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 14px;
}
.inner_footer .footer_third span{
    color: black;
    font-family: Arial;
    font-size: 12px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}