<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhomes - Kundemenu</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Nordic Motorhomes</h1>
    <div class="menu-bar">
        <ul>
            <li><a href="/">Hoved Menu</a></li>
            <li><a href="/motorhomeMenu">Motorhome Menu</a></li>
            <li class="active"><a href="/customerMenu">Kunde Menu</a></li>
            <li><a href="/rentalMenu">Udlejnings Menu</a></li>
            <li><a href="/modelMenu">Model Menu</a></li>
        </ul>
    </div>
</body>
</html>