<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhomes</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <h1>Nordic Motorhomes</h1>
    <br>
    <h2>Hovedmenu</h2>
    <br>
    <form action="/motorhomeMenu" method="get">
        <button>Motorhomemenu</button>
    </form>
    <br>
    <form action="/customerMenu" method="get">
        <button>Kundemenu</button>
    </form>
    <br>
    <form action="/rentalMenu" method="get">
        <button>Udlejningsmenu</button>
    </form>
</body>
</html>