<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhomes - Model Menu</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Nordic Motorhomes</h1>
    <div class="menu-bar">
        <ul>
            <li><a href="/">Hoved Menu</a></li>
            <li><a href="/motorhomeMenu">Motorhome Menu</a></li>
            <li><a href="/customerMenu">Kunde Menu</a></li>
            <li><a href="/rentalMenu">Udlejnings Menu</a></li>
            <li class="active"><a href="/modelMenu">Model Menu</a></li>
        </ul>
    </div>

    <table>
        <thead>
            <tr>
                <th>Modelid</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Beds</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="model: ${models}" title="Click to View">
                <td th:text="${model.modelid}"/>
                <td th:text="${model.brand}"/>
                <td th:text="${model.model}"/>
                <td th:text="${model.price}"/>
                <td th:text="${model.beds}"/>
            </tr>
        </tbody>
    </table>
</body>
</html>